{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-xl mt-5">
       
		<div class="mx-auto" style="width: 200px;">
			<a href="{{ path('import_data_with_paging') }}" class="btn btn-secondary js-import-data">Import data</a>
		</div>
		<div class="row mt-2">
				<table class="table table-striped table-bordered" id="mydatatable" style="width:100%">
					<thead>
						<tr>
							<th>Transaction Id</th>
							<th>Tool No</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Date</th>
							<th>Bat %</th>
							<th>Import date</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Transaction Id</th>
							<th>Tool no</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Date</th>
							<th>Bat %</th>
							<th>Import date</th>
						</tr>
					</tfoot>
				</table>
		</div>
	</div>

<style>
#mydatatable tfoot input{
    width: 100% !important;
}
#mydatatable tfoot {
    display: table-header-group !important;
}
 
</style>

<script type="text/javascript">
$(document).ready(function() {

    // Setup - add a text input to each footer cell
    $('#mydatatable tfoot th').each( function () {
		let title = $(this).text();
        $(this).html( '<input type="text" placeholder="Ieškoti '+title+'" />' );
    } );


    var table = $('#mydatatable').DataTable({

		

		dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
			"<'row'<'col-sm-12'tr>>" +
			"<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        responsive: true,
        language: {
            url: "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Lithuanian.json",
        },
		processing: true,
        serverSide: true,
        ordering: true,
		autowidth: true,

        ajax:{
            url: '{{ path('server_processing') }}',
            type: 'POST',
			dataType: 'json',
        },
		columnDefs: [
            { "name": "transactionId", "targets": 0, "width": "20%" },
            { "name": "toolNumber", "targets": 1 , "width": "5%"},
            { "name": "latitude", "targets": 2, "width": "5%"},
            { "name": "longitude", "targets": 3, "width": "5%"},
            { "name": "date", "targets": 4, "width": "30%"},
            { "name": "batPercentage", "targets": 5, "width": "5%"},
            { "name": "importDate", "targets": 6, "width": "30%"},
        ],


        "initComplete": function ( settings, json) {
                
            this.api().columns().every( function () {
                var that = this;
                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                        }
                });
            })
        },
        searchDelay: 1000
    });


		$(function () {
		$('.js-import-data').on('click', function (e) {
			e.preventDefault();

			let $link = $(e.currentTarget);
			
			$.ajax({
			method: 'POST',
			url: $link.attr('href'),
			dataType: 'json',
			}).done(function (data) {

				if(data.update){
					table.draw();
				}

				});
			});
		});

});


</script>

{% endblock %}
