{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<div class="mx-auto" style="width: 200px;">
			<a href="{{ path('import_data') }}" class="btn btn-secondary js-import-data">Import data</a>
		</div>
		<div class="row mt-2">
			<div id="my_datatable">
				Loading...
			</div>
		</div>
	</div>


	<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
	<script>

		$(function () {
		$('#my_datatable').initDataTables({{ datatable_settings(datatable) }}).then(function (dt) {

		$(function () {
		$('.js-import-data').on('click', function (e) {
			e.preventDefault();

			let $link = $(e.currentTarget);
			$.ajax({
			method: 'POST',
			url: $link.attr('href'),
			dataType: 'json',
			}).done(function (data) {

				 $.each(data.data, function (i,item) {
					let rowNode = {"transactionId" : item.transaction_id, "toolNumber" : item.tool_number, "longitude": item.longitude, "latitude" : item.latitude, "date" :item.date, "batPercentage" : item.bat_percentage, "importDate": item.import_date};
					dt.row.add(rowNode);
    				}); 

					dt.draw();

				});
			});
		});
	});
});
	</script>

{% endblock %}
